mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Login
    label(for="email") Email Address
    input(type="email" name="email" id="email"
      class=(validationErrors.find(e => e.param === 'email') ? 'invalid' : '')
      value=(oldInput.email))
    label(for="password") Password
    input(type="password" name="password" id="password"
      class=(validationErrors.find(e => e.param === 'password') ? 'invalid' : '')
      value=(oldInput.password))
    if user
      input(type="hidden" name='userId' value=(user._id || ''))
    input.button(type="submit" value="Log in")