.header {
  border-bottom: 2px solid $color-primary;
  max-width: 100%;

  .content {
    @include container();
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include from(3) {
      flex-direction: column;
    }
  }
}

.nav {
  position: relative;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  z-index: 100;
  align-items: center;
  
  @include from(3) {
    padding: .5rem;
  }

  &__list {
    text-align: center;
    z-index: 10;
    margin-top: .5rem;
    margin-left: auto;
    display: flex;
    flex: 1;
    flex-direction: column;

    @include from(3) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include from(4) {
      flex-wrap: nowrap;
    }

    &.open {
      display: block;
      transform: scale(1);
    }
  }

  &__item {
    display: block;
    margin-bottom: 1rem;

    @include from(3) {
      margin-right: .4rem;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }

    @include at(4) {
      margin-right: .8rem;
    }
    @include from(5) {
      margin-right: 1.1rem;
    }

    &--user {

      a {
        background-color: $green;

        &:hover {
          background-color: lighten($green, 10%);
        }
      }
    }
  }
  
  &__link {
    font-size: 1rem;
    display: block;
    padding: .35rem .55rem;
    border-radius: 3px;
    box-shadow: 0 2px 2px $grey-medium;
    transition: .3s ease;
    background-color: $yellow;

    &:hover {
      box-shadow: 0 2px 4px 1px $grey-medium;
      background-color: lighten($yellow, 10%);
    }
  }

  .active {
    border: 2px solid $color-secondary;
  }
}
